/*borderbox reorder*/
*,
*::before,
*::after {
  webkit-box-sizing: border-box;
  moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*Universal Selectors****************/

h1,h2,h3,li {
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

h1 {
  font-size: 9.3em;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

h2 {
  font-size: 4.3em;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

h3 {
  font-size: 2em;
  letter-spacing: 2px;
}

ul {
  margin-top: 55px;
  padding-left: 630px;
}

li {
  list-style-type: none;
  display: inline;
  font-weight: bolder;
  padding-left: 15px;
}

hr {
  width: 83%;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid white;
}

/*Class Selectors********************/
.flexed1 {
  display: flex;
  flex-direction: row;
}

.flexed1 h3 {
  margin-top: 48px;
  margin-left: 20px;
}

.hero-text {
  margin-top: 120px;
}


/*Id Selectors***********************/

#img-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: auto;

}

#logo {
  height: 70px;
  width: 70px;
  margin-left: 92px;
  margin-top: 25px;
}
/*Media Queries**********************/

/*background-image: url(./img/fields.jpg);
background-repeat: no-repeat;
background-size: cover;*/
