/*borderbox reorder*/
*,
*::before,
*::after {
  webkit-box-sizing: border-box;
  moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*Universal Selectors****************/

h1,h2,h3,li,button {
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

h1 {
  font-size: 9.3em;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

h2 {
  font-size: 4.3em;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

h3 {
  font-size: 2em;
  letter-spacing: 2px;
}

ul {
  margin-top: 55px;
  padding-left: 630px;
}

li {
  list-style-type: none;
  display: inline;
  font-weight: bolder;
  padding-left: 15px;
}

hr {
  width: 83%;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid white;
}

p {
  font-family: 'Garamond', serif;
  font-style: italic;
  color: #fff;
  font-size: 1.3em;
  text-align: center;
  margin-top: 15px;
}

/*Class Selectors********************/
.flexed1 {
  display: flex;
  flex-direction: row;
}

.flexed1 h3 {
  margin-top: 48px;
  margin-left: 20px;
}

.hero-text {
  margin-top: 120px;
}

.btn-opacity {
  margin-top: 80px;
  background-color: rgba(231,137,112, 0.5);
  width: 240px;
  height: 57px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 5px;
}

.btn {
  background-color: #E78970;
  font-weight: bolder;
  letter-spacing: 1px;
  width: 232px;
  height: 49px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

/*Downloaded code to make a triangle (http://stackoverflow.com/questions/23758922/transparent-arrow-triangle)*/
.wrap {
  position: relative;
  overflow: hidden;
  width: 70%;
  margin: 0 auto;
}
.wrap img {
  width: 100%;
  height: auto;
  display: block;
}
.arrow {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 3%;
  background-color: rgba(0, 0, 0, 0.8);
}
.arrow:before,
.arrow:after {
  content: '';
  position: absolute;
  bottom: 100%;
  width: 50%;
  padding-bottom: inherit;
  background-color: inherit;
}
.arrow:before {
  right: 50%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -ms-transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  transform: skewX(45deg);
}
.arrow:after {
  left: 50%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -ms-transform: skewX(-45deg);
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
}
/*End of downloaded code*/

/*Id Selectors***********************/

#img-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;

}

#logo {
  height: 70px;
  width: 70px;
  margin-left: 92px;
  margin-top: 25px;
}
/*Media Queries**********************/

/*background-image: url(./img/fields.jpg);
background-repeat: no-repeat;
background-size: cover;*/
